requests
psycopg2-binary
python-dateutil
pandas
sqlalchemy
pydrive2
openai
streamlit
langchain
langchain-experimental
tabulate
gspread
gspread-dataframe
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
openpyxl
